// Menu
@menu-height: 50px;
@menu-width: 150px;

// Profile
@profile-image-size: 250px;

// Size
@title-size-mobile: 48px;
@title-size: 54px;
@subtitle-size: 24px;
@subtitle-size-mobile: 18px;


// Colors
// @odd-page-color: #F7F5E6;
@odd-page-color: rgb(213, 218, 223);
@even-page-color: #F7F9FB;

@menu-color: white;
@odd-tab-color: rgb(255, 255, 255);
@even-tab-color: rgb(255, 255, 255);
@trigger-tab-color: rgb(49, 51, 66);
@trigger-font-color: white;
@tab-hover-color: rgb(121, 140, 158);

@tag-color: rgb(23, 30, 53);
@tag-font-color: #DFE0E0;

@score-off: #DFE0E0;
@score-on: #22A39F;
@skill-hover: #DFE0E0;

@title-color: #333A56;
@subtitle-color: @title-color;
@subheading-color: rgb(168, 168, 168);
@text-color: #434242;