// Menu
@menu-height: 50px;
@menu-width: 150px;

// Profile
@profile-image-size: 250px;

// Size
@title-size: 54px;

// Colors
@odd-page-color: rgb(173, 173, 173);
@even-page-color: #22A39F;

@menu-color: white;
@odd-tab-color: rgb(255, 255, 255);
@even-tab-color: rgb(219, 244, 250);
@trigger-tab-color: #22A39F;

@tag-color: rgb(23, 30, 53);
@tag-font-color: #DFE0E0;

@score-off: #DFE0E0;
@score-on: #22A39F;
@skill-hover: #DFE0E0;

@title-color: rgb(30, 68, 93);
@subtitle-color: @title-color;
@subheading-color: rgb(168, 168, 168);
@text-color: #434242;